#posts {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
h4 {
    text-transform: uppercase;
    margin-top: 120px;
}
hr {
    margin-top: 0px;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #0057e7;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #0057e7;
    }
    80%,
    90% {
        stroke: #0057e7;
    }
}
#spinner {
    padding-top: 50vh;
}