<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color fixed-top scrolling-navbar" id='nav'>

  <!-- Navbar brand -->
  <mdb-navbar-brand>
      <img src="https://res.cloudinary.com/howtoru/image/upload/img/logo.png" width="65" height="65" class="d-inline-block align-top" alt="">
    <a class="navbar-brand" routerLink="/main">
    <h1><span>&nbsp;</span>HowTo</h1>
  </a>
</mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/main">{{ui.home}}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/users">Users</a>
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Instructions<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/instructions">All</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/category/hobbies']">Hobbies</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/category/apartment']">Apartment</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/category/sport']">Sport</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/category/internet']">Internet</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/category/auto']">Auto</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/category/health']">Health</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/category/food']">Food</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/category/fashion']">Fashion</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/category/engineering']">Engineering</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/category/other']">Other</a>
              </div>
          </li>
         
          
      </ul>
      <!-- Links -->
      <div >
          
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" >
                <a class="nav-link waves-light" (click)="search = true;" *ngIf='!search' mdbWavesEffect><i class="fa fa-search prefix white-text"></i> Search</a>
            </li>
          </ul>
    </div>
            <div class="md-form mt-0" *ngIf='search' id='search'>
                <i class="fa fa-remove prefix white-text" (click)="search = false;"></i>
                <input class="form-control mr-sm-2" type="text" (onblur)="search = false;" (keyup)="keypress($event.keyCode, $event)" placeholder="Search">
            </div>
    <div *ngIf='!search'>
      <div id='forms' *ngIf='!isUserLoggedIn'>
          
          <ul class="navbar-nav mr-auto">
              <li class="nav-item"><app-authorization-form></app-authorization-form></li>
              <li class="nav-item"><button id='signup-button' type="button"mdbBtn rounded="true"  mdbWavesEffect routerLink="/signup">Sign Up</button></li>
            </ul>
      </div>
      <div id='forms2' *ngIf='isUserLoggedIn'>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/user',login]"><i class="fa fa-user prefix white-text"></i><strong *ngIf="suMode">su: </strong> {{login}}</a>
            </li>
            <li class="nav-item" *ngIf="su">
                    <a class="nav-link waves-light" mdbWavesEffect routerLink="/admin"><i class="fa fa-gear prefix white-text"></i> Administer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" *ngIf="!suMode" mdbWavesEffect (click)='logout()' id='logout'><i class="fa fa-sign-out prefix white-text"> </i>Log Out</a>
              <a class="nav-link waves-light" *ngIf="suMode" mdbWavesEffect (click)='leave()' id='leave'><i class="fa fa-sign-out prefix white-text"> </i>Leave {{login}}</a>
            </li>
        </ul>
      </div>
    </div>

<!-- Search form -->
      
  </links>
  <!-- Collapsible content --> 
</mdb-navbar>
<!--/.Navbar-->

