<section class='animated slideInUp' *ngIf='isLoaded'>
    <p><img src='https://res.cloudinary.com/howtoru/image/upload/v1534550394/img/logo.png'/></p>
    <h4 class="text-center" id='posts'>Edit your instruction</h4>
    <p id='info'>If you don't want to change the value of the field, just leave it as it is. If you want to replace images, use the appropriate fields. If you do not select new images, the old ones will be saved.</p>
    
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" [formControl]="name" id="form-name" class="form-control" mdbInputDirective value="{{post.title}}">
        <label for="form-name"></label>
    </div>
    
    <mat-form-field>
        <mat-select placeholder="Choose a section" id='form-section' [formControl]="section" value="{{post.category}}">
          <mat-option *ngFor="let section of sections" [value]="section.value">
            {{section.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <div class="md-form">
        <i class="fa fa-edit prefix grey-text"></i>
       <textarea type="text" id="form7" [formControl]="short" class="md-textarea md-textarea-auto form-control" mdbInputDirective value="{{post.description}}"></textarea>
       <label for="form7"></label>
    </div> 
    
    <div class="md-form" id='full_desc'>
       <textarea type="text" id="form8" [formControl]="full" class="md-textarea md-textarea-auto form-control" mdbInputDirective value="{{post.fullDescription}}"></textarea>
       <label for="form8"></label>
    </div> 

    <div class="md-form" >
        <i class="fa fa-cart-plus prefix grey-text"></i>
        <textarea type="text" id="form9" [formControl]="needed" value="{{post.ingredients}}" mdbInputDirective></textarea>
        <label for="form9"></label>
     </div> 
     
     <img id="step_img" class='img-fluid view view-cascade overlay' src="{{post.picture}}">
     <div class="text-center">
        <div class="form-group file-area">
            <input type="file" required="required" step='0' (change)="onFileUpload($event)"/>
            <div class="file-dummy">
              <div class="success" hidden>Ok, you can continue</div>
              <div class="default" >Choose the main picture or drag it here</div>
            </div>
        </div>
    </div>

    <mat-vertical-stepper #stepper></mat-vertical-stepper>
    <div id="step" class='animated slideInRight' *ngFor='let step of steps'> 
        <mat-expansion-panel id='panel'>
            <mat-expansion-panel-header class="mat-expansion-panel-header ng-tns-c10-5" id="head" role="button">
              <mat-panel-title>
                  <div ng-reflect-ng-switch="number" class="mat-step-icon" id='circle'>
                      <span class="ng-star-inserted">{{step.number}}</span>
                  </div>   
              </mat-panel-title>
              <mat-panel-description>
                  <div class="md-form" id='stepp'>
                      <input type="text" id="form-step-name" value="{{step.title}}" class="form-control" (keydown)="handleSpacebar($event)" mdbInputDirective>
                  </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        
          <div class="mat-vertical-content-container mat-stepper-vertical-line">
              <div class="mat-vertical-stepper-content ">
                <div class="mat-vertical-content">
                  <div class="ng-star-inserted">
                      <div class="md-form" id='step_desc'>
                          <textarea type="text" id="form10" name='step_desc' value="{{step.text}}" class="md-textarea md-textarea-auto form-control" (keyup)='autogrow($event)' mdbInputDirective></textarea>
                       </div> 
                       <img id="step_img" class='img-fluid view view-cascade overlay' src="{{step.picture}}">
                       <div class="text-center">
                          <div class="form-group file-area">
                              <input type="file" name='pic' step='{{step.number}}' (change)="onFileUpload($event)"/>
                              <div class="file-dummy">
                                <div class="success" hidden>Ok, you can continue</div>
                                <div class="default">Choose a picture or drag it here</div>
                              </div>
                          </div>
                      </div> 
                    </div>
                  </div>
                </div>
          </div>
        </div>
        <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf='wait'></p-progressBar>
        <div id='button'>
            <button mdbBtn color="blue" class="waves-light" id='button' (click)="send()" mdbWavesEffect>Finish</button>
        </div>
        <p-toast position="bottom-center" life='10000'></p-toast>
        <hr/>
        
   <!-- <hr/> -->
</section>
<div class='text-center' id='spinner' *ngIf='!isLoaded'>
    <p-progressSpinner fill="white"></p-progressSpinner>
</div>