<div id='medals'>
    <img mdbTooltip="'Лавры' даётся за создание 10+ инструкций" placement="left" src="https://res.cloudinary.com/howtoru/image/upload/img/1.png" width="65" height="65" class="d-inline-block align-top" alt="">
    <img mdbTooltip="'Чемпион' даётся за первое место в топе пользователей" placement="left" src="https://res.cloudinary.com/howtoru/image/upload/img/4.png" width="65" height="65" class="d-inline-block align-top" alt="">
    <img mdbTooltip="'Звезда' даётся за получение рейтинга 50+" placement="left" src="https://res.cloudinary.com/howtoru/image/upload/img/5.png" width="65" height="65" class="d-inline-block align-top" alt="">
    <img mdbTooltip="'Начинающий' даётся за создание первой инструкции" placement="left" src="https://res.cloudinary.com/howtoru/image/upload/img/6.png" width="65" height="65" class="d-inline-block align-top" alt="">
    <img mdbTooltip="'Комментатор' даётся за добавление 10+ комментариев" placement="left" src="https://res.cloudinary.com/howtoru/image/upload/img/7.png" width="65" height="65" class="d-inline-block align-top" alt="">
</div>
