<div id='medals'>
    <img mdbTooltip="{{ui.laurel}}" placement="left" src="https://res.cloudinary.com/howtoru/image/upload/img/1.png" width="65" height="65" class="d-inline-block align-top" alt="">
    <img mdbTooltip="{{ui.champion}}" placement="left" src="https://res.cloudinary.com/howtoru/image/upload/img/4.png" width="65" height="65" class="d-inline-block align-top" alt="">
    <img mdbTooltip="{{ui.star}}" placement="left" src="https://res.cloudinary.com/howtoru/image/upload/img/5.png" width="65" height="65" class="d-inline-block align-top" alt="">
    <img mdbTooltip="{{ui.beginner}}" placement="left" src="https://res.cloudinary.com/howtoru/image/upload/img/6.png" width="65" height="65" class="d-inline-block align-top" alt="">
    <img mdbTooltip="{{ui.commentator}}" placement="left" src="https://res.cloudinary.com/howtoru/image/upload/img/7.png" width="65" height="65" class="d-inline-block align-top" alt="">
</div>
