#posts {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
h4 {
    text-transform: uppercase;
    margin-top: 120px;
}
hr {
    margin-top: 0px;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #0057e7;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #0057e7;
    }
    80%,
    90% {
        stroke: #0057e7;
    }
}
#spinner {
    padding-top: 50vh;
}
#user img {
    max-width: 100px;
}
#post p {
    margin-bottom: 5px;
    font-size: 20px;
}
p {
    margin-bottom: 5px;
    font-size: 14px;
}
#raiting {
    border-bottom: 1px solid #eee;
}
#user {
    max-width: 200px;
    width: 180px;
    padding-top: 10px;
    cursor: pointer;
    margin: 0 auto;
}
#row {
    max-width: 250px;
    margin: 0 auto;
   // box-shadow:0px 0px 10px rgba(0,0,0,0.3)
}
#user:hover #raiting {
    border-bottom: 1px solid #007bff;
}
#user:hover h5 {
    color: #007bff;
}
h4 {
    width: 100%;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}
h5 {
    color: grey;
    text-transform: none;
    text-align: center;
}
#post h5 {
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
#section {
    padding-top: 100px;
}
mdb-card {
    margin: 0 auto;
    max-width: 1000px;
}
.list-group {
    font-size: 20px;
    text-align: center;
    
}
.list-group-item {
    padding-bottom: 0px;
    padding-top: 0px;
    color: grey;
    border: none
}
.list-group-item:hover {
    background-color: #eee;
}
/deep/ .mat-step-icon, /deep/ .mat-step-icon-not-touched {
    width: 100px !important;
    height: 100px !important;
    z-index: 1500 !important;; 
}
/deep/ .mat-vertical-stepper-header {
    height: 100px !important; 
    padding-top: 0 !important;
    padding-left: 0 !important;
    max-height: 200px !important;
}
/deep/ .ng-star-inserted {
    font-size: 20px !important;
}
/deep/ .mat-vertical-content-container {
    margin-left: 49px !important; 
}
/deep/ .mat-step-header .mat-step-icon-not-touched {
    background-color: grey !important;
}
#step_img {
    margin: 0 auto !important;
}
/deep/ .mat-step-header .mat-step-icon {
    background-color: #007bff !important;
}
#next {
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;
}
#circle {
    background-color: #007bff !important;
    color: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
    width: 100px !important;
    height: 100px !important;
    z-index: 1500 !important;
    cursor: pointer;
    font-size: 20px !important;
}
mat-expansion-panel {
    height: 120px;   
    box-shadow: none !important; 
}
mat-expansion-panel-header {
    height: 120px !important;
    padding-left: 0 !important;
}
mat-panel-title {
    width: 120px !important;
    max-width: 120px !important;
}
mat-panel-description {
    color: grey !important;
    padding-top: 35px;
}
/deep/ .mat-expansion-panel-body {
    margin-bottom: 50px !important;
}
#agenda {
    float:left;
    position: sticky;
    top: 80px; 
    z-index: 999;
    border-bottom: 2px solid #007bff;
    width: 100%;
}
.h4-responsive {
    padding-top: 40px;
}
.bottom-line{
    border-bottom: 1px solid #eee !important;
}
#left {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 10px;
}
#sideAgenda a{
    font-size: 16px;
}
/deep/ #step-img {
    width: 100% !important;
    height: auto;
    min-width: 200px;
}
#row h4 {
    font-size: 25px;
}
.stars {
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    color: red;
}
.stars:hover {
    font-size: 31px;
    color: #007bff;
}
#postRaiting {
    color: #007bff;
    border: none;
}
@media only screen and (max-width: 1000px) {
    div#top-users {
        display: none;
        background-color: red;
    }
}


