section {
    margin-top: 120px;
}
table {
    width: 100%;
    box-shadow: none;
}
h4 {
    text-transform: uppercase;
}
/deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #007bff !important;
}
/deep/ div.mat-checkbox-background {
    background-color:#eee !important;
}
#header {
    position: sticky;
}
#toolbar {
    margin: 0 auto;
    font-size: 40px;
    position: sticky;
    top: 80px; 
    z-index: 999;
    background-color: white;
    border-bottom: 2px solid #007bff;
}
i {
    padding: 20px;
    cursor: pointer;
}
i:hover {
    border-bottom: 2px solid #007bff;
}
#spinner {
    padding-top: 50vh;
}