<section class="team-section text-center" id="top-users">
  <div class="row justify-content-center" id='row'>
    <!-- Section heading -->
    <h4 class="h4-responsive gold-text">{{ui.top}}</h4>
  
        <!-- Grid column -->
        <div class="mb-lg-0 mb-5" *ngFor="let userCard of userCards" id='user'>
          <a routerLink="/user/{{userCard.login}}">
            <div class="avatar mx-auto">
                <img src="{{userCard.avatar}}" class="rounded-circle z-depth-1 img-fluid" alt="Sample avatar">
            </div>
            <h5 class=" mt-2 mb-1">{{userCard.login}}</h5>
            <p class="grey-text">{{userCard.name}}, {{userCard.location}}</p>
            <p class="text-uppercase blue-text" id='raiting'>
                <strong>★ {{userCard.raiting}}</strong>
            </p>
            </a>
        </div>
  </div>
  
  </section>
